extends layout

block styles
  link(href='/styles/home.css' rel='stylesheet')

block body
  .gallery.col-sm-6.col-sm-offset-3
    each imagename in imagenames
      .photo
        img(src=imagename)

block scripts
  script(src='/src/main.js')