doctype

html(lang='en')
  head
    meta(charset='utf-8')
    title BeePeG
    link(rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/styles/main.css')

    block styles

  body

    nav.beepeg-navbar
      .container-fluid
        .left-items
          span.brand
            a(href='/') BeePeG
        .right-items
          a.btn.btn-primary(href='/upload') Upload

    .top-padding

    block body

    script(src='/components/jquery/dist/jquery.js')
    script(src='/components/bootstrap/dist/js/bootstrap.js')
    script(src='/lib/bpgdec.js')

    block scripts