extends layout

block body
  .container-fluid
    .row
      .col-sm-4.col-sm-offset-4
        form(action='/upload' enctype='multipart/form-data' method='POST')
          .form-group
            input(type='file' name='image')
          .form-group
            input.btn.btn-primary(type='submit' value='Upload File')