.gallery {
  padding: 2px;
  line-height: 0;

  .photo {
    width: 100%;
    height: auto;
    background-color: black;
    img {
      width: 100%;
      height: auto;
    }
    canvas {
      width: 100%;
      height: auto;
      display: inline;
    }
  }
}