.top-padding {
  min-height: 64px;
}

.beepeg-navbar {
  padding: 15px 0;
  position: fixed;
  width: 100%;
  background-color: #efefef;
  z-index: 100;

  .left-items, .right-items {
    display: inline-block;
  }

  .right-items {
    float: right;
    text-align: right;
  }

  span.brand {
    margin-top: 4px;
    font-size: 1.5em;
    display: inline-block;
  }
}